* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

div.home {
  background-color: #222D33; }
  div.home nav {
    text-align: center; }
    div.home nav ul {
      list-style: none;
      display: inline-flex;
      padding-left: 0px; }
      div.home nav ul li {
        padding-right: 6rem;
        padding-top: 2rem;
        color: #99AFBB;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 1.2px; }
      div.home nav ul a {
        text-decoration: none; }
      div.home nav ul li:hover {
        color: #E0E6EA; }
      div.home nav ul a:visited {
        text-decoration: none; }
      div.home nav ul a:active {
        color: #E0E6EA; }
      div.home nav ul li#logo {
        padding-top: 0.5rem; }
      div.home nav ul li#last {
        padding-right: 0rem; }
      div.home nav ul img {
        width: 90px;
        height: 90px; }
