* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

div.home {
  background-color: #222D33; }
  div.home nav {
    text-align: center;
    margin-top: 1rem; }
    div.home nav ul {
      list-style: none;
      display: inline-flex;
      padding-left: 0px; }
      div.home nav ul li {
        padding-right: 6rem;
        padding-top: 2rem;
        color: #99AFBB;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        letter-spacing: 1.2px; }
      div.home nav ul a {
        text-decoration: none; }
      div.home nav ul li:hover {
        color: #E0E6EA;
        cursor: pointer; }
      div.home nav ul a:visited {
        text-decoration: none;
        color: #99AFBB; }
      div.home nav ul a.active {
        color: #E0E6EA; }
      div.home nav ul a:hover {
        opacity: 1; }
      div.home nav ul .fa-bars {
        display: none;
        color: #222;
        font-size: 2rem; }
      div.home nav ul li#logo {
        padding-top: 0.5rem; }
      div.home nav ul div {
        padding-top: 1rem;
        opacity: .5; }
        div.home nav ul div li.list-item {
          padding-right: 0rem;
          padding-top: 0;
          font-size: 1rem;
          width: 111px;
          margin-right: 1rem;
          margin-left: 1rem;
          letter-spacing: 1.2px; }
      div.home nav ul li#last {
        padding-right: 0rem; }
      div.home nav ul img {
        width: 90px;
        height: 90px; }

@media only screen and (max-width: 600px) {
  height: auto;
  min-height: 50px;
  display: block;
  position: relative;
  .logo {
    width: 100%;
    display: block;
    padding-top: 20px;
    margin: 0px;
    margin-left: -5px; }
    .logo a {
      padding: 20px 0px; }
  .fa-bars {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: #99AFBB;
    padding: 1rem; }
  ul.collapsed {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 0;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }
    ul.collapsed.is-expanded {
      overflow: hidden;
      max-height: 500px;
      /* approximate max height */
      -moz-transition-duration: 0.4s;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -moz-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
    ul.collapsed li {
      padding: 15px 10px;
      margin: 0px 0px;
      width: 100%; } }
