div.Popular {
  margin-top: 8rem;
  padding: 2rem; }
  div.Popular h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #E0E6EA; }
    div.Popular h1 span {
      font-size: 1rem;
      color: #99AFBB;
      text-decoration: underline;
      padding-left: 1rem; }
  div.Popular .BrainhubCarousel__arrows {
    background-color: #222D33; }
    div.Popular .BrainhubCarousel__arrows:hover {
      background-color: #222D33; }
    div.Popular .BrainhubCarousel__arrows span:hover {
      border-color: #99AFBB;
      background-color: #222D33; }
  div.Popular div.popular-details div.details {
    padding-top: 1rem; }
    div.Popular div.popular-details div.details h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      color: #E0E6EA;
      padding-bottom: .5rem; }
    div.Popular div.popular-details div.details h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      color: #99AFBB; }
