div.Slideshow {
  margin-top: 2rem;
  height: 100vh; }
  div.Slideshow .BrainhubCarousel__track {
    height: 75vh; }
  div.Slideshow .BrainhubCarouselItem {
    height: 100vh; }
  div.Slideshow .BrainhubCarousel__dots {
    background-color: #222D33;
    padding: 1rem; }
    div.Slideshow .BrainhubCarousel__dots .BrainhubCarousel__dot {
      background-color: #222D33; }
      div.Slideshow .BrainhubCarousel__dots .BrainhubCarousel__dot::before {
        background-color: #99AFBB; }
  div.Slideshow div.now-playing-details {
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #E0E6EA;
    margin-top: 3.5rem; }
    div.Slideshow div.now-playing-details div.details {
      position: absolute;
      width: 60vw;
      right: 28%;
      top: 20%;
      bottom: 8%;
      background-color: rgba(0, 0, 0, 0.4);
      padding: 1rem;
      border: 2px;
      border-radius: 2rem;
      height: 48vh; }
    div.Slideshow div.now-playing-details div.image img {
      height: 70vh;
      width: 90vw;
      border-radius: 1rem; }
  div.Slideshow h1.title {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 1.2px;
    border: none;
    padding: 0;
    margin: 0; }
    div.Slideshow h1.title span.date {
      font-style: italic;
      padding-left: .8rem;
      text-decoration: none;
      font-size: 1.8rem; }
  div.Slideshow h2 {
    font-weight: 300;
    font-size: 2.2rem;
    margin-top: .2rem;
    text-transform: uppercase;
    color: #99afbb;
    letter-spacing: 1.2px; }
    div.Slideshow h2 span {
      padding-left: .2rem; }
  div.Slideshow p {
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 1.2px; }

@media (min-width: 1024px) {
  div.Slideshow {
    height: 85vh; }
  div.now-playing-details {
    margin-right: 4rem;
    margin-top: 4.5rem; }
  div.image img {
    height: 13rem; }
  div.home nav ul li {
    padding-right: 2.5rem;
    font-size: 1.5rem; }
  div.Popular h1 {
    margin-right: 4rem; }
  div.PopularTv h1 {
    margin-right: 4rem; }
  div.Movies div.now-playing-details {
    right: 0 !important; }
    div.Movies div.now-playing-details div.details {
      left: 8% !important; }
  div.Movies div.home nav ul li {
    padding-right: 2.5rem;
    font-size: 1.5rem; } }

@media (max-width: 768px) {
  div.home nav ul li {
    padding-right: 1.2rem;
    font-size: 1.2rem; }
  div.Slideshow {
    height: 85vh; }
  div.now-playing-details {
    margin-right: 4rem; }
  div.image img {
    height: 10rem; }
  div.Popular h1 {
    margin-right: 4rem; }
  div.Popular div.popular-details div.details h2 {
    font-size: 1rem !important; }
  div.Popular div.popular-details div.details h3 {
    font-size: 1rem !important; }
  div.PopularTv h1 {
    margin-right: 4rem; }
  div.PopularTv div.popular-details div.details h2 {
    font-size: 1rem !important; }
  div.PopularTv div.popular-details div.details h3 {
    font-size: 1rem !important; } }

@media (min-width: 375px) {
  div.Slideshow h1.title {
    font-size: 2.2rem; }
    div.Slideshow h1.title span.date {
      font-size: 1.2rem; }
  div.Slideshow h2 {
    font-size: 1.2rem; }
  div.Slideshow div.now-playing-details div.details {
    width: 85vw;
    right: 6%;
    top: 7%;
    height: 64vh; }
    div.Slideshow div.now-playing-details div.details p {
      font-size: .9rem;
      line-height: 1.3rem; }
  div.Slideshow div.now-playing-details div.image img {
    height: 70vh;
    width: 90vw; }
  div.Slideshow .BrainhubCarousel__dots {
    width: 80vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
  div.PopularTv {
    padding-top: 0rem; }
    div.PopularTv h1 {
      margin-right: 4rem;
      font-size: 2rem; }
    div.PopularTv div.popular-details div.details h2 {
      font-size: .8rem !important; }
    div.PopularTv div.popular-details div.details h3 {
      font-size: .8rem !important; }
  div.Popular {
    padding-bottom: 0rem; }
    div.Popular h1 {
      margin-right: 4rem;
      font-size: 2rem; }
    div.Popular div.popular-details div.details h2 {
      font-size: .8rem !important; }
    div.Popular div.popular-details div.details h3 {
      font-size: .8rem !important; }
  div.Footer li {
    font-size: .8rem; }
    div.Footer li img {
      height: 95px;
      width: 160px; }
  div.Movies h1.title {
    font-size: 2.2rem;
    margin-top: 0rem;
    padding-top: 0rem;
    margin-left: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: 0rem;
    border-bottom: none !important; }
    div.Movies h1.title span.date {
      font-size: 1.2rem; }
  div.Movies div.Popular {
    padding-bottom: 0rem !important; }
    div.Movies div.Popular h1 {
      margin-right: 4rem;
      font-size: 2rem; }
    div.Movies div.Popular div.popular-details div.details h2 {
      font-size: .8rem !important; }
    div.Movies div.Popular div.popular-details div.details h3 {
      font-size: .8rem !important; }
  div.Movies h2 {
    font-size: 1.2rem; }
  div.Movies div.now-playing-details {
    right: 14%;
    position: relative;
    margin-right: 0rem !important;
    height: 80vh; }
    div.Movies div.now-playing-details div.details {
      width: 85vw;
      left: 22%;
      top: 7%;
      height: 64vh; }
      div.Movies div.now-playing-details div.details p {
        font-size: .9rem;
        line-height: 1.3rem; }
  div.Movies div.TopRated {
    padding-bottom: 0rem !important; }
    div.Movies div.TopRated h1 {
      margin-right: 4rem;
      font-size: 2rem; }
    div.Movies div.TopRated div.popular-details div.details h2 {
      font-size: .8rem !important; }
    div.Movies div.TopRated div.popular-details div.details h3 {
      font-size: .8rem !important; }
  div.Movies h2 {
    font-size: 1.2rem; }
  div.Movies div.now-playing-details {
    right: 14%;
    position: relative;
    margin-right: 0rem !important;
    height: 80vh; }
    div.Movies div.now-playing-details div.details {
      width: 85vw;
      left: 22%;
      top: 7%;
      height: 64vh; }
      div.Movies div.now-playing-details div.details p {
        font-size: .9rem;
        line-height: 1.3rem; }
  div.Movies div.Upcoming {
    padding-bottom: 0rem !important; }
    div.Movies div.Upcoming h1 {
      margin-right: 4rem;
      font-size: 2rem; }
    div.Movies div.Upcoming div.popular-details div.details h2 {
      font-size: .8rem !important; }
    div.Movies div.Upcoming div.popular-details div.details h3 {
      font-size: .8rem !important; }
  div.Movies h2 {
    font-size: 1.2rem; }
  div.Movies div.now-playing-details {
    right: 14%;
    position: relative;
    margin-right: 0rem !important;
    height: 80vh; }
    div.Movies div.now-playing-details div.details {
      width: 85vw;
      left: 22%;
      top: 7%;
      height: 64vh; }
      div.Movies div.now-playing-details div.details p {
        font-size: .9rem;
        line-height: 1.3rem; }
  div.MovieDeets h1 {
    margin-right: 4rem; }
  div.MovieDeets div.overview div.image {
    width: 0 !important;
    left: 16% !important; }
    div.MovieDeets div.overview div.image img {
      height: 24rem !important; }
  div.MovieDeets div.overview div.overview-details {
    width: 100% !important;
    top: 26rem !important;
    left: 1% !important;
    padding: 1.5rem !important; }
    div.MovieDeets div.overview div.overview-details ul li {
      font-size: 1.4rem !important; }
      div.MovieDeets div.overview div.overview-details ul li span {
        font-size: 1.6rem !important; }
    div.MovieDeets div.overview div.overview-details h3 {
      text-align: center; }
    div.MovieDeets div.overview div.overview-details p {
      text-align: center;
      line-height: 1.8rem; }
    div.MovieDeets div.overview div.overview-details ul {
      padding: 2.5rem; }
  div.MovieDeets div.movie-details {
    position: relative;
    margin-right: 0rem !important;
    height: 80vh; }
    div.MovieDeets div.movie-details div.details {
      width: 85vw !important;
      left: 7%;
      top: 7% !important;
      height: 64vh !important; }
      div.MovieDeets div.movie-details div.details p {
        font-size: .9rem;
        line-height: 1.3rem; }
  div.MovieDeets div.cast {
    padding-top: 22rem !important; }
    div.MovieDeets div.cast div.PopularTv h1#people {
      padding-top: 8rem !important; }
  div.TvShows div.now-playing-details div.details {
    width: 85vw;
    right: 6%;
    top: 7%;
    height: 64vh; }
    div.TvShows div.now-playing-details div.details p {
      font-size: .9rem;
      line-height: 1.3rem; }
  div.TvShows div.now-playing-details div.image img {
    height: 70vh;
    width: 90vw; }
  div.TvShows .BrainhubCarousel__dots {
    width: 80vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
  div.TopRated {
    padding-bottom: 0rem !important; }
    div.TopRated h1 {
      margin-right: 4rem;
      font-size: 2rem; }
    div.TopRated div.popular-details div.details h2 {
      font-size: .8rem !important; }
    div.TopRated div.popular-details div.details h3 {
      font-size: .8rem !important; }
  div.Trending {
    padding-bottom: 0rem !important; }
    div.Trending h1 {
      margin-right: 4rem;
      font-size: 2rem; }
    div.Trending div.popular-details div.details h2 {
      font-size: .8rem !important; }
    div.Trending div.popular-details div.details h3 {
      font-size: .8rem !important; }
  div.SearchResults div.SearchBar h1 {
    margin-right: 4rem;
    font-size: 2rem; }
  div.SearchResults div.SearchBar label.search-label input.search {
    width: 46vw;
    font-size: 1.2rem; }
  div.SearchResults div.SearchBar div.results-container {
    grid-template-columns: auto auto; }
  div.PopularPage h1 {
    margin-right: 4rem !important;
    font-size: 2rem !important; }
  div.PopularPage div.container {
    grid-template-columns: auto auto !important; } }
