div.Upcoming {
  margin-top: 0rem;
  padding: 2rem; }
  div.Upcoming h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    color: #E0E6EA; }
    div.Upcoming h1 span {
      font-size: 1rem;
      color: #99AFBB;
      text-decoration: underline;
      padding-left: 1rem; }
  div.Upcoming .BrainhubCarousel {
    margin: 1rem;
    padding: 1rem;
    padding-left: 0.9rem;
    margin-left: 0rem; }
  div.Upcoming .BrainhubCarousel__arrows {
    background-color: #222D33; }
    div.Upcoming .BrainhubCarousel__arrows:hover {
      background-color: #222D33; }
    div.Upcoming .BrainhubCarousel__arrows span:hover {
      border-color: #99AFBB;
      background-color: #222D33; }
  div.Upcoming div.popular-details div.details {
    padding-top: 1rem; }
    div.Upcoming div.popular-details div.details h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      color: #E0E6EA;
      padding-bottom: .5rem;
      font-size: 1.2rem; }
    div.Upcoming div.popular-details div.details h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      color: #99AFBB;
      padding-bottom: .3rem; }
  div.Upcoming div.popular-details ul {
    list-style: none;
    display: flex; }
    div.Upcoming div.popular-details ul li {
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      color: #E0E6EA;
      font-size: 1.2rem;
      padding-right: 1.3rem;
      padding-top: .2rem;
      text-decoration: underline;
      color: #E0E6EA; }
