$primary-color: #222D33;
$secondary-color: #E0E6EA;
$tertiary-color: #99AFBB;



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

// body#container {
//   height: 100vh;
//   width: 100vw;
//   background-repeat: no-repeat;
//   background-size: 1440px 750px;
// }


  
div.home {
  background-color: #222D33;
    
  nav {
      text-align: center;
      
      ul {
        list-style: none;
        display: inline-flex;
        padding-left: 0px;

        a {
          text-decoration: none;
        }

        li:hover {
          color: $secondary-color;
        }

        a:visited {
          text-decoration: none;
        }


  
        li {
          padding-right: 6rem;
          padding-top: 2rem;
          color: $tertiary-color;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 1.4rem;
          letter-spacing: 1.2px;
        }
  
        li#logo {
          padding-top: 0.5rem;
        }
  
        li#last {
          padding-right: 0rem;
        }
  
        img {
          width: 90px;
          height: 90px;
          // padding-right: 6rem;
        }
      }
    }
   
}






