$primary-color: #222D33;
$secondary-color: #E0E6EA;
$tertiary-color: #99AFBB;

div.SearchBar {
    text-align: center;

    h1 {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        font-size: 2.5rem;
        margin-top: 4rem;
        text-transform: uppercase;
        letter-spacing: 2.2px;
        text-align: left;
    }
    
    a {
        // text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    label {
        text-align: center;


        input {
            width: 40vw;
            padding: 1rem;
            background-color: $primary-color;
            border: none;
            outline: none;
            color: $secondary-color;
            margin-top: 2rem;


            input::placeholder {
                font-family: 'Roboto', sans-serif;
                font-weight: 200;
                color: $tertiary-color;
            }
        }

        button {
            font-size: 1.5rem;
            background: none;
            outline: none;
            border: none;
            color: $tertiary-color;
            cursor: pointer;
        }
    }

    
}