$primary-color: #222D33;
$secondary-color: #E0E6EA;
$tertiary-color: #99AFBB;

div.Slideshow {
    margin-top: 2rem;
    height: 100vh;
  
    .BrainhubCarousel__track {
        height: 75vh;
      }
      .BrainhubCarouselItem {
        height: 100vh;
      }

    .BrainhubCarousel__dots {
        background-color: $primary-color;
        padding: 1rem;
        
        .BrainhubCarousel__dot {
            background-color: #222D33;

            &::before {
                background-color: $tertiary-color;
            }
        }
    }

  
    div.now-playing-details {  
      height: 100vh;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #E0E6EA;
      margin-top: 3.5rem;

      
  
      div.details {
        position: absolute;
        width: 60vw;
        right: 28%;
        top: 20%;
        bottom: 8%;
        background-color: rgba(0,0,0,.4);
        padding: 1rem;
        border: 2px;
        border-radius: 2rem;
        height: 48vh;
      }
        div.image {
            
            img {
            height: 70vh;
            width: 90vw;
            border-radius: 1rem;
            }
        }
    }
     
      
      h1.title {
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: 1.2px;
        border: none;
        padding: 0;
        margin: 0;
    
    
        span.date {
          font-style: italic;
          padding-left: .8rem;
          text-decoration: none;
          font-size: 1.8rem;
        }
      }
    
      h2 {
        font-weight: 300;
        font-size: 2.2rem;
        margin-top: .2rem;
        text-transform: uppercase;
        color: #99afbb;
        letter-spacing: 1.2px;
        
        span {
            padding-left: .2rem;
        }

    
      }
    
      p {
        font-family: 'Roboto', sans-serif;
        margin-top: 1rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
        letter-spacing: 1.2px;  
      }
    }


    @media (min-width:1024px) {
      div.Slideshow {
        height:85vh
      }
      div.now-playing-details {
        margin-right: 4rem;
        margin-top:4.5rem;
      }

      div.image {
        img {
          height: 13rem;
        }
      }

      div.home {
        nav {
          nav {
            i.fa.fa-bars {
              display: none;
            }
          }
          ul {
            li {
              padding-right: 2.5rem;
              font-size: 1.5rem;
            }
          }
        }
      }

      div.Popular {
        h1 {
          margin-right:4rem;
        }
      }

      div.PopularTv {
        h1 {
          margin-right:4rem;
        }
      }

      div.Movies {
        div.now-playing-details {
          right: 0 !important;

          div.details {
            left: 8% !important;
          }
        }
        div.home {
          nav {
            ul {
              li {
                padding-right: 2.5rem;
                font-size: 1.5rem;
              }
            }
          }
        }
      }

    }

    @media (max-width:768px) {
      div.home {
        nav {
          ul {
            li {
              padding-right: 1.2rem;
              font-size: 1.2rem;
            }
          }
        }
      }
  
      div.Slideshow {
        height:85vh
      }

       div.now-playing-details {
         margin-right: 4rem;
       }

      div.image {
        img {
          height: 10rem;
        }
      }

      div.Popular {
        h1 {
          margin-right:4rem;
        }

        div.popular-details {
          div.details {
            h2 {
              font-size: 1rem !important;
            }
            h3 {
              font-size: 1rem !important;
            }
          }
        }
      }

      div.PopularTv {
        h1 {
          margin-right:4rem;
        }

        div.popular-details {
          div.details {
            h2 {
              font-size: 1rem !important;
            }
            h3 {
              font-size: 1rem !important;
            }
          }
        }
      }
    }


    @media (min-width:375px) {
      
      div.Slideshow {
        h1.title {
          font-size: 2.2rem;

          span.date {
            font-size: 1.2rem;
          }
        }

        h2 {
          font-size: 1.2rem;
        }

        div.now-playing-details {
          div.details {
            width:85vw;
            right: 6%;
            top: 7%;
            height: 64vh;

             p {
              font-size: .9rem;
              line-height: 1.3rem;
            }
          }
          div.image {
            img {
              height: 70vh;
              width: 90vw;
            }
          }
        }

        .BrainhubCarousel__dots {
          width: 80vw;
          justify-content: center;
          margin-left: auto;
          margin-right: auto;
          overflow: hidden;
        }
      }
      
      div.PopularTv {
        padding-top: 0rem;

        h1 {
          margin-right:4rem;
          font-size: 2rem;
        }


        div.popular-details {
          div.details {
            h2 {
              font-size: .8rem !important;
            }

            h3 {
              font-size: .8rem !important;
            }
          }
        }
      }

      div.Popular {
        padding-bottom: 0rem;

        h1 {
          margin-right:4rem;
          font-size: 2rem;
        }

        div.popular-details {
          div.details {
            h2 {
              font-size: .8rem !important;
            }

            h3 {
              font-size: .8rem !important;
            }
          }
        }
      }

      div.Footer {
        li {
          font-size: .8rem;
          
          img {
            height: 95px;
            width: 160px;
          }
        }
      }

      div.Movies {
        h1.title {
          font-size: 2.2rem;
          margin-top: 0rem;
          padding-top: 0rem;
          margin-left: 0rem;
          padding-right: 0rem;
          padding-left: 0rem;
          margin-right: 0rem;
          border-bottom: none !important;

          span.date {
            font-size: 1.2rem;
          }
        }

        div.Popular {
          padding-bottom: 0rem !important;
  
          h1 {
            margin-right:4rem;
            font-size: 2rem;
          }
  
          div.popular-details {
            div.details {
              h2 {
                font-size: .8rem !important;
              }
  
              h3 {
                font-size: .8rem !important;
              }
            }
          }
        }

        h2 {
          font-size: 1.2rem;
        }

        div.now-playing-details {
          right: 14%;
          position: relative;
          margin-right: 0rem !important;
          height: 80vh;
          

          div.details {
            width:85vw;
            left: 22%;
            top: 7%;
            height: 64vh;

            p {
              font-size: .9rem;
              line-height: 1.3rem;
            }
          }
       }


       div.TopRated {
         padding-bottom: 0rem !important;

         h1 {
          margin-right:4rem;
          font-size: 2rem;
        }

        div.popular-details {
          div.details {
            h2 {
              font-size: .8rem !important;
            }

            h3 {
              font-size: .8rem !important;
            }
          }
        }
      }

      h2 {
        font-size: 1.2rem;
      }

      div.now-playing-details {
        right: 14%;
        position: relative;
        margin-right: 0rem !important;
        height: 80vh;
        

        div.details {
          width:85vw;
          left: 22%;
          top: 7%;
          height: 64vh;

          p {
            font-size: .9rem;
            line-height: 1.3rem;
          }
        }
       }

       div.Upcoming {
        padding-bottom: 0rem !important;

        h1 {
          margin-right:4rem;
          font-size: 2rem;
        }

        div.popular-details {
          div.details {
            h2 {
              font-size: .8rem !important;
            }

            h3 {
              font-size: .8rem !important;
            }
          }
        }
      }

      h2 {
        font-size: 1.2rem;
      }

      div.now-playing-details {
        right: 14%;
        position: relative;
        margin-right: 0rem !important;
        height: 80vh;
        

        div.details {
          width:85vw;
          left: 22%;
          top: 7%;
          height: 64vh;

          p {
            font-size: .9rem;
            line-height: 1.3rem;
          }
        }
      }
    }

    div.MovieDeets {
      h1 {
        margin-right: 4rem;
      }
      div.overview {
        div.image {
          width: 0 !important;
          left: 16% !important;
          img {
            height: 24rem !important;
          }
        }
        div.overview-details {
          width: 100% !important;
          top: 26rem !important;
          left: 1% !important;
          padding:1.5rem !important;

          ul {
            li {
              font-size: 1.4rem !important;
              span {
                font-size: 1.6rem !important;
              }
            }
          }

          h3 {
            text-align: center;
          }
          p {
            text-align: center;
            line-height: 1.8rem;
          }

          ul {
            padding: 2.5rem;
          }
        }
      }
      div.movie-details {
        position: relative;
        margin-right: 0rem !important;
        height: 80vh;

        div.details {
          width:85vw !important;
          left: 7%;
          top: 7% !important;
          height: 64vh !important;

          p {
            font-size: .9rem;
            line-height: 1.3rem;
          }
        }
      }

      div.cast {
        padding-top: 22rem !important;

        div.PopularTv {
          h1#people {
            padding-top: 8rem !important;
          }
        }
      }
    }

    div.TvShows {
      div.now-playing-details {
        div.details {
          width:85vw;
          right: 6%;
          top: 7%;
          height: 64vh;

           p {
            font-size: .9rem;
            line-height: 1.3rem;
          }
        }
        div.image {
          img {
            height: 70vh;
            width: 90vw;
          }
        }
      }

      .BrainhubCarousel__dots {
        width: 80vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
      }
    }

    div.TopRated {
      padding-bottom: 0rem !important;

      h1 {
       margin-right:4rem;
       font-size: 2rem;
     }

     div.popular-details {
       div.details {
         h2 {
           font-size: .8rem !important;
         }

         h3 {
           font-size: .8rem !important;
         }
       }
     }
   }

   div.Trending {
    padding-bottom: 0rem !important;

    h1 {
     margin-right:4rem;
     font-size: 2rem;
   }

   div.popular-details {
     div.details {
       h2 {
         font-size: .8rem !important;
       }

       h3 {
         font-size: .8rem !important;
       }
     }
   }
 }

 div.SearchResults {
   div.SearchBar {
     h1 {
       margin-right: 4rem;
       font-size: 2rem;
     }
     label.search-label {
       input.search {
         width: 46vw;
         font-size: 1.2rem;
       }
     }
     div.results-container {
       grid-template-columns: auto auto;
     }
   }
 }

 div.PopularPage {
  h1 {
    margin-right: 4rem !important;
    font-size: 2rem !important;
  }
   div.container {
    grid-template-columns: auto auto !important;
   }
 }

}