$primary-color: #222D33;
$secondary-color: #E0E6EA;
$tertiary-color: #99AFBB;

html {
  background-color: $primary-color;
}
div.TvShows {
    margin-top: 0rem;
    height: 100vh;
    background-color: $primary-color;
  
    .BrainhubCarousel__track {
        height: 75vh;
      }

    .BrainhubCarouselItem {
      height: 100vh;
    }

    .BrainhubCarousel__dots {
        background-color: $primary-color;
        padding: 1rem;
        
        .BrainhubCarousel__dot {
            background-color: #222D33;

            &::before {
                background-color: $tertiary-color;
            }
        }
    }

  
    div.now-playing-details {  
      height: 100vh;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      color: #E0E6EA;
      margin-top: 3.5rem;
      
      div.details {
        position: absolute;
        width: 60vw;
        right: 28%;
        top: 20%;
        bottom: 8%;
        background-color: rgba(0,0,0,.4);
        padding: 1rem;
        border: 2px;
        border-radius: 2rem;
        height: 48vh;
      }
        div.image {
            
            img {
            height: 70vh;
            width: 90vw;
            border-radius: 1rem;
            }
        }
    }
     
      
      h1.title {
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: 1.2px;
    
    
        span.date {
          font-style: italic;
        }
      }
    
      h2 {
        font-weight: 300;
        font-size: 2.2rem;
        margin-top: .2rem;
        text-transform: uppercase;
        color: #99afbb;
        letter-spacing: 1.2px;
        
        span {
            padding-left: .2rem;
        }

    
      }
    
      p {
        font-family: 'Roboto', sans-serif;
        margin-top: 1rem;
        font-size: 1.3rem;
        line-height: 1.5rem;
        letter-spacing: 1.2px;  
      }

}

